<!DOCTYPE HTML>
<html>
<head>
        <style>

 .red-outline {
  outline: 1px solid red;
}
                
        </style>
<script>
</script>

</head>

<body>
<p>&nbsp;</p>           

<table style="height: 89px; width: 630px; border-color: black; float: left;">
<tbody class="red-outline">
<tr>
<td style="width: 326px;" colspan="2"><strong>Incident</strong></td> <td>{{incident}}</td>
<td style="width: 288px;"><strong>Description</strong></td>
</tr>
<tr>
<td style="width: 153px;"><strong>MARKET</strong></td>
<td style="width: 167px;"><span style="color: #ff6600;">CANADA</span></td>
<td style="width: 288px;">GMA users are facing slowness in Canada market</td>
</tr>
<tr>
<td style="width: 153px;"><strong>STATE</strong></td>
<td style="width: 167px;"><span style="color: #ff6600;">ASSIGNED</span></td>
<td style="width: 288px;">Mobile application users are facing slow application performance that is blocking them from completing their ordering</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="width: 153px;">
<p>12:47pm</p>
<p>Opened</p>
</td>
<td style="width: 167px;">
<p><span style="color: #ff6600;">INPROGRESS</span></p>
<p><span style="color: #000000;">CLOSED</span></p>
</td>
<td style="width: 288px;">
<p>4m<span style="color: #ff6600;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CRITICAL</span></p>
<p>DURATION&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Severity</p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="width: 153px;">
<p>OWNER</p>
</td>
<td style="width: 167px;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: #ff6600;">SUNIL AROSKAR</span></p>
<p><span style="color: #0000ff;"><span style="color: #ff6600;"><a href="mailto:sunil.aroskar@capgemini.com">sunil.aroskar@capgemini.com</a></span></span></p>
<p><span style="color: #0000ff;"><span style="color: #ff6600;">630 294 5011</span></span></p>
</td>
<td style="width: 288px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
