<!DOCTYPE HTML>
<html>
<head>
        <style>

 .red-outline {
  outline: 1px solid red;
}
                
        </style>
<script>
</script>
    <table border="1" style="padding:5px;">  
        <tr>
            <td>Incident</td>
            <td>{{incident}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{state}}</td>
        </tr>
        <tr>
            <td>Market</td>
            <td>{{region}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{description}}</td>
        </tr>
    </table>
</html>